.live-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 50vh;
  background-color: white;
  overflow-x: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "Roboto Mono", "Courier New", "monospace";
}

.string-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fret-index-container {
  height: 2vw;
  width: 3vw;
  border-right: 1.5px solid white;
  border-left: 1.5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  margin-right: 1vw;
}
