.fret {
  height: 3vw;
  width: 3vw;
  border-right: 1.5px solid black;
  border-left: 1.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ball {
  position: absolute;
  width: 1.3vw;
  height: 1.3vw;
  border-radius: 50%;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first {
  border-left: 3px solid black;
}

.last {
  border-right: 3px solid black;
}

.line {
  border: 3px solid black;
  width: 100%;
}
