* {
  margin: 0;
  padding: 0;
}

/* Define scrollbar track */
::-webkit-scrollbar {
  width: 5px;
}

/* Define scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 5px;
}

/* Define scrollbar track on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

