<div class="container">

  <div class="input-searchbar-container">
    <input
      #inputSearch
      type="text"
      class="input-searchbar"
      placeholder="Search song"
      (input)="onSearchChange()">
  </div>
  <div class="scrollable-wrapper">
    <div
      *ngIf="isFetching"
      class="spinner-overlay">
      <mat-spinner color="accent"></mat-spinner>
    </div>
    <div class="list-container">
      <app-song-item *ngFor="let song of filteredSongs" [song]="song"></app-song-item>
    </div>
  </div>

  <div class="upload-file-container">
    <p *ngIf="fileChosen">{{fileName}}</p>
    <input
      #fileInput
      type="file"
      accept=".wav"
      (change)="onChange($event)"
      style="display:none"/>
    <div class="upload-file-buttons-container">
      <button
        class="file-add-button attach-button"
        (click)="onUploadButtonClick()"><mat-icon>attachment</mat-icon></button>
      <button
        *ngIf="fileChosen"
        class="file-add-button upload-button"
        (click)="onConfirmButtonClick()"><mat-icon>done</mat-icon></button>
    </div>
  </div>
</div>
