<div class="item-container" #itemContainer>
  <div
    class="item-details-container"
    (click)="onItemClick()">
    <p class="song-name-label">{{song.name}}</p>
    <p class="song-duration-label" *ngIf="!showAudio">{{song.duration | timeFormat}}</p>
  </div>
  <div
    class="item-options-container"
    *ngIf="showAudio">
    <div
      class="audio-player">
      <audio #audioPlayer controls></audio>
      <!--    <div-->
      <!--      class="controls">-->
      <!--      <button (click)="play()">Play</button>-->
      <!--      <button (click)="pause()">Pause</button>-->
      <!--    </div>-->
    </div>
    <div
      class="info-button-container"
      (click)="onInfoButtonCLick()">
      <a [routerLink]="['/home', song.id]">
        <mat-icon
          matTooltip="Song info"
          class="custom-info-icon">info</mat-icon>
      </a>
    </div>
    <div
      class="delete-button-container"
      (click)="onDeleteButtonClick()">
      <mat-icon
        matTooltip="Delete song"
        class="custom-delete-icon">delete_outline</mat-icon>
    </div>
  </div>
</div>
