<div class="item-container" #itemContainer>
  <div
    class="item-details-container"
    (click)="onItemClick()">
    <p class="song-name-label">{{song.name}}</p>
    <p class="song-duration-label">{{song.duration | timeFormat}}</p>
  </div>
  <div class="audio-player" *ngIf="showAudio">
    <audio #audioPlayer controls></audio>
<!--    <div class="controls">-->
<!--      <button (click)="play()">Play</button>-->
<!--      <button (click)="pause()">Pause</button>-->
<!--    </div>-->
  </div>
</div>
<!--<button (click)="onAudioClick()">Audio</button>-->
<!--<button (click)="onCloseClick()">Close</button>-->
