.audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  margin-top: 10px;
}

.controls button {
  margin: 0 5px;
}

.item-container {
  background-color: #fff;
  margin: 1vh;
  border-radius: 10px;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  min-height: 3vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4vh;
  cursor: pointer;
}

.item-container:active:not(.button-clicked) {
  background-color: #eee;
}

.song-duration-label {
  margin-left: auto;
}

.item-options-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: 100%;
}

.custom-info-icon {
  color: #3D0814;
  font-size: 24px;
}

.custom-info-icon:hover {
  color: #6F1E2B;
}


.custom-delete-icon {
  color: red;
  font-size: 24px;
}

.custom-delete-icon:hover {
  color: brown;
}



